@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

@import "tailwindcss";

@theme {
  --color-termBg: #050B14;
  --color-termAccent: #00F0FF;
  --color-termNeon: #00FF41;
  --color-termWarning: #FCEE0A;
  --color-termError: #FF003C;
  --color-termCardBg: #0B1320;
  --color-termBorder: #1A2639;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Share Tech Mono', monospace;
  --font-hand: 'Playwrite PE', cursive;
}

@layer base {
  body {
    background-color: var(--color-termBg);
    color: white;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-termBg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-termBorder);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-termAccent);
}